<h1>Update Page</h1>
<%= form_for (@user) do |f|%>
 	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'layouts/fields', :f => f %>
	<div class="actions">
	<%= submit_tag("Update") %>
	</div>
<%end%>

<%= gravatar_for @user, :size => 30 %>
<%= link_to "Change",  "http://gravatar.com/emails",  :target => "_blank" %>