<h1>Sign Up Page</h1>
<%= form_for (@user) do |f|%>
 	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'layouts/fields', :f => f %>
	<div class="actions">
	<%= submit_tag("Sign Up") %>
	</div>
<%end%>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>