<h1 class="mainProfile"> 
<%= gravatar_for @user, :size => 60 %>
<%= @user.name%> 
</h1>
<div class="sidebar round">
	<%= render 'layouts/sidebar', :user=> current_user, :gv => false%>
</div>
<% unless @user.microposts.empty? %>
	<div class="microposts">
		<table summary="User microposts">
			<%= render @microposts %>
		</table>
		<%= will_paginate @microposts %>
	</div>
<%end%>