<%if signed_in?%>
	<div class="newpost">
		<%= render 'layouts/newpost', :micropost => @micropost %>
	</div>
	<div class="sidebar round">
		<%= render 'layouts/sidebar', :user => current_user, :gv => true %>
	</div>
	<% unless current_user.microposts.empty? %>
		<div class="microposts">
			<table class="microposts" summary="User microposts">
				<%= render @microposts %>
			</table>
			<%= will_paginate @microposts %>
		</div>
	<%end%>
	
	<%else%>
	<%= render 'signupnow'%>
<%end%>
