<h1>What's Up?</h1>
<%= form_for (micropost) do |f|%>
 	<%= render 'shared/error_messages', :object => f.object %>
	<div id="newpost">
		<%= f.text_area :content, :onKeyUp => 
		"charLeft(document.getElementById('micropost_content'), 
		document.getElementById('count'), 140)" %>
	</div>

	<div class="actions">
	<%= submit_tag("Submit") %>

		<%= label_tag :count, "Remaining:" %>
		<%= text_field_tag 	:count, "140", :size => "2", 
							:readonly => "readonly"%> 
	</div>
<%end%>